*{
    text-align: center;
    color: white;
}

.sidebar{
    float:left;
}
#card1{
    float: left;
    width: 1200px;
    position: relative;
    left: 250px;
    top: 500px;
}

.card2{
    position: relative;
    right: 600px;
    top: 850px;
}

#card3{
    position: relative;
    top: 800px;
    right: 700px;
}

#card4{
    position: relative;
    top: 507px;
    left: 900px;
    
}

#button1,
#button2{
    position: absolute;
    top: 80px;
}